body
{
    background-color: rgb(243, 217, 243);
}

.in_put
{
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

#cards
{
    
    display: flex;
    margin-top: 30px ;
    justify-content: center;
    flex-wrap:wrap;

   
}

.card
{
    background-color: rgb(160, 157, 157);
    width: 250px;
    height: 130px;
    margin-right: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-weight: bold;
    margin-top: 50px;
}